Pipfile
Pipfile.lock
.hidden
.vscode
.old

# caches
__pycache__
.pytest_cache
.mypy_cache
*cache

# Build files
main.dist
main.build

# "Release"
MoistureTransport*.zip
MoistureTransport*.7z
release/moisture_transport